templates/instances-init.json
{
  "Comment": "Instances-Init-v1.0.7",
  "StartAt": "DescribeInstance",
  "States": {
    "DescribeInstance": {
      "Type": "Task",
      "InputPath": "$.detail.instance-id",
      "Resource": "function:DescribeInstance",
      "Next": "CheckSSHKeyName"
    },
    "CheckSSHKeyName": {
      "Type": "Task",
      "InputPath": "$.KeyName",
      "ResultPath": null,
      "Resource": "function:CheckSSHKeyName",
      "Next": "CalculateVolumeSizes"
    },
    "CalculateVolumeSizes": {
      "Type": "Task",
      "InputPath": "$.InstanceType",
      "ResultPath": "$.volumeSizes",
      "Resource": "function:CalculateVolumeSizes",
      "Next": "CreateVolumes"
    },
    "CreateVolumes": {
      "Type": "Task",
      "ResultPath": "$.volumeIds",
      "Resource": "function:CreateVolumes",
      "Next": "WaitForVolumesCreated",
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "DeleteVolumes"
      }]
    },
    "WaitForVolumesCreated": {
      "Type": "Task",
      "InputPath": "$.volumeIds",
      "ResultPath": null,
      "Resource": "function:WaitForVolumesAvailable",
      "Next": "CalculateVolumeDevices",
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "DeleteVolumes"
      }]
    },
    "CalculateVolumeDevices": {
      "Type": "Task",
      "InputPath": "$.volumeIds",
      "ResultPath": "$.volumeDevices",
      "Resource": "function:CalculateVolumeDevices",
      "Next": "AttachVolumes",
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "DeleteVolumes"
      }]
    },
    "AttachVolumes": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "function:AttachVolumes",
      "Next": "DeleteVolumesOnTermination",
      "Retry": [{
          "ErrorEquals": [ "HandledError" ],
          "IntervalSeconds": 5
      }],
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "DetachVolumes"
      }]
    },
    "DetachVolumes": {
      "Type": "Task",
      "InputPath": "$.volumeIds",
      "ResultPath": null,
      "Resource": "function:DetachVolumes",
      "Next": "WaitForVolumesDetached"
    },
    "WaitForVolumesDetached": {
      "Type": "Task",
      "InputPath": "$.volumeIds",
      "ResultPath": null,
      "Resource": "function:WaitForVolumesAvailable",
      "Next": "DeleteVolumes",
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "DeleteVolumes"
      }]
    },
    "DeleteVolumes": {
      "Type": "Task",
      "InputPath": "$.volumeIds",
      "Resource": "function:DeleteVolumes",
      "Next": "Fail"
    },
    "DeleteVolumesOnTermination": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "function:DeleteVolumesOnTermination",
      "Next": "TransferInitScript",
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "DetachVolumes"
      }]
    },
    "TransferInitScript": {
      "Type": "Task",
      "InputPath": "$.PublicDnsName",
      "ResultPath": null,
      "Resource": "function:TransferInitScript",
      "TimeoutSeconds": 5,
      "Next": "ExecuteInitScript",
      "Retry": [{
          "ErrorEquals": [ "HandledError", "States.Timeout" ],
          "IntervalSeconds": 5, "MaxAttempts": 5
      }],
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "DetachVolumes"
      }]
    },
    "ExecuteInitScript": {
      "Type": "Task",
      "Resource": "function:ExecuteInitScript",
      "TimeoutSeconds": 10,
      "End": true,
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": "$.error",
        "Next": "DetachVolumes"
      }]
    },
    "Fail": {
      "Type": "Fail",
      "Cause": "Failed to initialize instance"
    }
  }
}