templates/instances-setup-ssh-key.json
{
  "Comment": "Instances-SetupSSHKey-v1_0_0",
  "StartAt": "ChooseEventType",
  "States": {
    "ChooseEventType": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.RequestType",
          "StringEquals": "Create",
          "Next": "DeleteSSHKey"
        },
        {
          "Variable": "$.RequestType",
          "StringEquals": "Update",
          "Next": "CreateSSHKey"
        },
        {
          "Variable": "$.RequestType",
          "StringEquals": "Delete",
          "Next": "DeleteSSHKey"
        }
      ],
      "Default": "Fail"
    },
    "DeleteSSHKey": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "function:DeleteSSHKey",
      "Next": "CheckCreateSSHKey",
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": null,
        "Next": "Fail"
      }]
    },
    "CheckCreateSSHKey": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.RequestType",
          "StringEquals": "Create",
          "Next": "CreateSSHKey"
        }
      ],
      "Default": "Succeed"
    },
    "CreateSSHKey": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "function:CreateSSHKey",
      "Next": "Succeed",
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "ResultPath": null,
        "Next": "Fail"
      }]
    },
    "Fail": {
      "Type": "Pass",
      "ResultPath": "$.Status",
      "Result": "FAILED",
      "Next": "End"
    },
    "Succeed": {
      "Type": "Pass",
      "ResultPath": "$.Status",
      "Result": "SUCCESS",
      "Next": "End"
    },
    "End": {
      "Type": "Task",
      "ResultPath": null,
      "Resource": "function:SendCloudFormationResponse",
      "End": true
    }
  }
}