templates/sam.yaml
AWSTemplateFormatVersion: 2010-09-09
Transform: AWS::Serverless-2016-10-31

Parameters:
  VpcRange:
    Type: String
  EncryptionKeyId:
    Type: String
  SSHKeyName:
    Type: String
  SSHKeyS3Bucket:
    Type: String
  SSHKeyS3Path:
    Type: String
  SSHKeyPutRole:
    Type: String
  SSHKeyGetRole:
    Type: String

Resources:
  BackendVPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: !Ref VpcRange

  BackendRouteTable:
    Type: AWS::EC2::RouteTable
    Properties:
      VpcId: !Ref BackendVPC

  BackendS3Endpoint:
    Type: AWS::EC2::VPCEndpoint
    Properties:
      ServiceName: !Sub com.amazonaws.${AWS::Region}.s3
      VpcId: !Ref BackendVPC
      RouteTableIds:
        - !Ref BackendRouteTable

  SendCloudFormationResponse:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: aws.sendCloudFormationResponse
      Runtime: nodejs4.3

  SetupCustomResource:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: aws.setupCustomResource
      Runtime: nodejs4.3
      Timeout: 10
      Policies:
        Statement:
          - Effect: Allow
            Action: states:StartExecution
            Resource:
              - !Sub arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:*

  Subnets:
    Type: AWS::CloudFormation::CustomResource
    DependsOn:
      - SendCloudFormationResponse
    Properties:
      ServiceToken: !GetAtt SetupCustomResource.Arn
      StateMachine: !Ref SetupSubnetsStateMachine
      VpcId: !Ref BackendVPC
      VpcRange: !Ref VpcRange
      AvailabilityZones: !GetAZs
        Ref: AWS::Region

  CalculateSubnets:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: vpc.calculateSubnets
      Runtime: nodejs4.3

  CreateSubnets:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: vpc.createSubnets
      Runtime: nodejs4.3
      Policies:
        Statement:
          - Effect: Allow
            Action:
              - ec2:CreateSubnet
            Resource: '*'

  DescribeSubnets:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: vpc.describeSubnets
      Runtime: nodejs4.3
      Policies:
        Statement:
          - Effect: Allow
            Action:
              - ec2:DescribeSubnets
            Resource: '*'

  DeleteSubnets:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: vpc.deleteSubnets
      Runtime: nodejs4.3
      Policies:
        Statement:
          - Effect: Allow
            Action:
              - ec2:DeleteSubnet
            Resource: '*'

  InstancesInit:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: aws.executeStateMachine
      Runtime: nodejs4.3
      Environment:
        Variables:
          STATE_MACHINE: !Ref InstancesInitStateMachine
      Events:
        InstanceRunning:
          Type: CloudWatchEvent
          Properties:
            Pattern:
              source:
                - aws.ec2
              detail-type:
                - EC2 Instance State-change Notification
              detail:
                state:
                  - running
      Policies:
        Statement:
          - Effect: Allow
            Action: states:StartExecution
            Resource:
              - !Ref InstancesInitStateMachine

  DescribeInstance:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.describeInstance
      Runtime: nodejs4.3
      Timeout: 5
      Policies:
        Statement:
          - Effect: Allow
            Action: ec2:DescribeInstances
            Resource: '*'

  SetupSSHKey:
    Type: AWS::CloudFormation::CustomResource
    DependsOn:
      - SendCloudFormationResponse
    Properties:
      ServiceToken: !GetAtt SetupCustomResource.Arn
      StateMachine: !Ref SetupSSHKeyStateMachine

  CreateSSHKey:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.createSSHKey
      Runtime: nodejs4.3
      Environment:
        Variables:
          ENCRYPTION_KEY_ID: !Ref EncryptionKeyId
          SSH_KEY_NAME: !Ref SSHKeyName
          SSH_KEY_S3_BUCKET: !Ref SSHKeyS3Bucket
          SSH_KEY_S3_PATH: !Ref SSHKeyS3Path
      Role: !Sub arn:aws:iam::${AWS::AccountId}:role/${SSHKeyPutRole}

  DeleteSSHKey:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.deleteSSHKey
      Runtime: nodejs4.3
      Environment:
        Variables:
          SSH_KEY_NAME: !Ref SSHKeyName
          SSH_KEY_S3_BUCKET: !Ref SSHKeyS3Bucket
          SSH_KEY_S3_PATH: !Ref SSHKeyS3Path
      Policies:
        Statement:
          - Effect: Allow
            Action: ec2:DeleteKeyPair
            Resource: '*'
          - Effect: Allow
            Action: s3:DeleteObject
            Resource:
              - !Sub arn:aws:s3:::${SSHKeyS3Bucket}/${SSHKeyS3Path}

  CheckSSHKeyName:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.checkSSHKeyName
      Runtime: nodejs4.3
      Environment:
        Variables:
          SSH_KEY_NAME: !Ref SSHKeyName

  CalculateVolumeSizes:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.calculateVolumeSizes
      Runtime: nodejs4.3

  CreateVolumes:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.createVolumes
      Runtime: nodejs4.3
      Policies:
        Statement:
          - Effect: Allow
            Action: ec2:CreateVolume
            Resource: '*'

  WaitForVolumesAvailable:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.waitForVolumesAvailable
      Runtime: nodejs4.3
      Timeout: 20
      Policies:
        Statement:
          - Effect: Allow
            Action: ec2:DescribeVolumes
            Resource: '*'

  CalculateVolumeDevices:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.calculateVolumeDevices
      Runtime: nodejs4.3

  AttachVolumes:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.attachVolumes
      Runtime: nodejs4.3
      Policies:
        Statement:
          - Effect: Allow
            Action: ec2:AttachVolume
            Resource: '*'

  DetachVolumes:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.detachVolumes
      Runtime: nodejs4.3
      Policies:
        Statement:
          - Effect: Allow
            Action: ec2:DetachVolume
            Resource: '*'

  DeleteVolumes:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.deleteVolumes
      Runtime: nodejs4.3
      Policies:
        Statement:
          - Effect: Allow
            Action: ec2:DeleteVolume
            Resource: '*'

  DeleteVolumesOnTermination:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.deleteVolumesOnTermination
      Runtime: nodejs4.3
      Policies:
        Statement:
          - Effect: Allow
            Action: ec2:ModifyInstanceAttribute
            Resource: '*'

  TransferInitScript:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.transferInitScript
      Runtime: nodejs4.3
      Timeout: 10
      Environment:
        Variables:
          SSH_KEY_S3_BUCKET: !Ref SSHKeyS3Bucket
          SSH_KEY_S3_PATH: !Ref SSHKeyS3Path
      Role: !Sub arn:aws:iam::${AWS::AccountId}:role/${SSHKeyGetRole}
      VpcConfig:
        SecurityGroupIds:
          - !GetAtt BackendVPC.DefaultSecurityGroup
        SubnetIds: !GetAtt Subnets.SubnetIds

  ExecuteInitScript:
    Type: AWS::Serverless::Function
    Properties:
      CodeUri: ../app
      Handler: instances.executeInitScript
      Runtime: nodejs4.3
      Timeout: 15
      Environment:
        Variables:
          SSH_KEY_S3_BUCKET: !Ref SSHKeyS3Bucket
          SSH_KEY_S3_PATH: !Ref SSHKeyS3Path
      Role: !Sub arn:aws:iam::${AWS::AccountId}:role/${SSHKeyGetRole}
      VpcConfig:
        SecurityGroupIds:
          - !GetAtt BackendVPC.DefaultSecurityGroup
        SubnetIds: !GetAtt Subnets.SubnetIds

  StatesExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: 2012-10-17
        Statement:
          - Effect: Allow
            Principal:
              Service: !Sub states.${AWS::Region}.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaRole

  InstancesInitStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StatesExecutionRole.Arn
      DefinitionString: !Sub |-
        {
          "StartAt": "DescribeInstance",
          "States": {
            "DescribeInstance": {
              "Type": "Task",
              "InputPath": "$.detail.instance-id",
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DescribeInstance}",
              "Next": "CheckSSHKeyName"
            },
            "CheckSSHKeyName": {
              "Type": "Task",
              "InputPath": "$.KeyName",
              "ResultPath": null,
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CheckSSHKeyName}",
              "Next": "CalculateVolumeSizes"
            },
            "CalculateVolumeSizes": {
              "Type": "Task",
              "InputPath": "$.InstanceType",
              "ResultPath": "$.volumeSizes",
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CalculateVolumeSizes}",
              "Next": "PrepareVolumes"
            },
            "PrepareVolumes": {
              "Type": "Parallel",
              "Next": "MountVolumes",
              "Branches": [{
                "StartAt": "CreateVolumes",
                "States": {
                  "CreateVolumes": {
                    "Type": "Task",
                    "ResultPath": "$.volumeIds",
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CreateVolumes}",
                    "Next": "WaitForVolumesCreated"
                  },
                  "WaitForVolumesCreated": {
                    "Type": "Task",
                    "InputPath": "$.volumeIds",
                    "ResultPath": null,
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${WaitForVolumesAvailable}",
                    "Next": "CalculateVolumeDevices"
                  },
                  "CalculateVolumeDevices": {
                    "Type": "Task",
                    "InputPath": "$.volumeIds",
                    "ResultPath": "$.volumeDevices",
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CalculateVolumeDevices}",
                    "End": true
                  }
                }
              }],
              "Catch": [{
                "ErrorEquals": [ "States.ALL" ],
                "ResultPath": "$.error",
                "Next": "DeleteVolumes"
              }]
            },
            "MountVolumes": {
              "Type": "Parallel",
              "InputPath": "$.[0]",
              "End": true,
              "Branches": [{
                "StartAt": "AttachVolumes",
                "States": {
                  "AttachVolumes": {
                    "Type": "Task",
                    "ResultPath": null,
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${AttachVolumes}",
                    "Next": "DeleteVolumesOnTermination",
                    "Retry": [{
                        "ErrorEquals": [ "HandledError" ],
                        "IntervalSeconds": 5
                    }]
                  },
                  "DeleteVolumesOnTermination": {
                    "Type": "Task",
                    "ResultPath": null,
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DeleteVolumesOnTermination}",
                    "Next": "TransferInitScript"
                  },
                  "TransferInitScript": {
                    "Type": "Task",
                    "InputPath": "$.PrivateIpAddress",
                    "ResultPath": null,
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${TransferInitScript}",
                    "TimeoutSeconds": 5,
                    "Next": "ExecuteInitScript",
                    "Retry": [{
                        "ErrorEquals": [ "HandledError", "States.Timeout" ],
                        "IntervalSeconds": 5, "MaxAttempts": 5
                    }]
                  },
                  "ExecuteInitScript": {
                    "Type": "Task",
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${ExecuteInitScript}",
                    "TimeoutSeconds": 10,
                    "End": true
                  }
                }
              }],
              "Catch": [{
                "ErrorEquals": [ "States.ALL" ],
                "ResultPath": "$.error",
                "Next": "DetachVolumes"
              }]
            },
            "DetachVolumes": {
              "Type": "Task",
              "InputPath": "$.volumeIds",
              "ResultPath": null,
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DetachVolumes}",
              "Next": "WaitForVolumesDetached"
            },
            "WaitForVolumesDetached": {
              "Type": "Task",
              "InputPath": "$.volumeIds",
              "ResultPath": null,
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${WaitForVolumesAvailable}",
              "Next": "DeleteVolumes",
              "Catch": [{
                "ErrorEquals": [ "States.ALL" ],
                "ResultPath": "$.error",
                "Next": "DeleteVolumes"
              }]
            },
            "DeleteVolumes": {
              "Type": "Task",
              "InputPath": "$.volumeIds",
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DeleteVolumes}",
              "Next": "Fail"
            },
            "Fail": {
              "Type": "Fail",
              "Cause": "Failed to initialize instance"
            }
          }
        }

  SetupSubnetsStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StatesExecutionRole.Arn
      DefinitionString: !Sub |-
        {
          "StartAt": "SetupSubnets",
          "States": {
            "SetupSubnets": {
              "Type": "Parallel",
              "Next": "Succeed",
              "Branches": [{
                "StartAt": "ChooseEventType",
                "States": {
                  "ChooseEventType": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.RequestType",
                        "StringEquals": "Create",
                        "Next": "CalculateSubnets"
                      },
                      {
                        "Variable": "$.RequestType",
                        "StringEquals": "Delete",
                        "Next": "DescribeSubnets"
                      }
                    ],
                    "Default": "Success"
                  },
                  "CalculateSubnets": {
                    "Type": "Task",
                    "InputPath": "$.ResourceProperties",
                    "ResultPath": "$.ResourceProperties.SubnetRanges",
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CalculateSubnets}",
                    "Next": "CreateSubnets"
                  },
                  "CreateSubnets": {
                    "Type": "Task",
                    "InputPath": "$.ResourceProperties",
                    "ResultPath": "$.Data.SubnetIds",
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CreateSubnets}",
                    "Next": "Success"
                  },
                  "DescribeSubnets": {
                    "Type": "Task",
                    "InputPath": "$.ResourceProperties.VpcId",
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DescribeSubnets}",
                    "Next": "DeleteSubnets"
                  },
                  "DeleteSubnets": {
                    "Type": "Task",
                    "ResultPath": null,
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DeleteSubnets}",
                    "Next": "Success"
                  },
                  "Success": {
                    "Type": "Pass",
                    "ResultPath": "$.Status",
                    "Result": "SUCCESS",
                    "End": true
                  }
                }
              }],
              "Catch": [{
                "ErrorEquals": [ "States.ALL" ],
                "ResultPath": "$.error",
                "Next": "Fail"
              }]
            },
            "Succeed": {
              "InputPath": "$.[0]",
              "Type": "Pass",
              "Next": "End"
            },
            "Fail": {
              "Type": "Pass",
              "ResultPath": "$.Status",
              "Result": "FAILED",
              "Next": "End"
            },
            "End": {
              "Type": "Task",
              "ResultPath": null,
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${SendCloudFormationResponse}",
              "End": true
            }
          }
        }

  SetupSSHKeyStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      RoleArn: !GetAtt StatesExecutionRole.Arn
      DefinitionString: !Sub |-
        {
          "StartAt": "SetupSSHKey",
          "States": {
            "SetupSSHKey": {
              "Type": "Parallel",
              "Next": "Succeed",
              "Branches": [{
                "StartAt": "ChooseEventType",
                "States": {
                  "ChooseEventType": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Or": [
                          {
                            "Variable": "$.RequestType",
                            "StringEquals": "Update"
                          },
                          {
                            "Variable": "$.RequestType",
                            "StringEquals": "Delete"
                          }
                        ],
                        "Next": "DeleteSSHKey"
                      },
                      {
                        "Variable": "$.RequestType",
                        "StringEquals": "Create",
                        "Next": "CreateSSHKey"
                      }
                    ]
                  },
                  "DeleteSSHKey": {
                    "Type": "Task",
                    "ResultPath": null,
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${DeleteSSHKey}",
                    "Next": "CheckCreateSSHKey"
                  },
                  "CheckCreateSSHKey": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.RequestType",
                        "StringEquals": "Create",
                        "Next": "CreateSSHKey"
                      }
                    ],
                    "Default": "Success"
                  },
                  "CreateSSHKey": {
                    "Type": "Task",
                    "ResultPath": null,
                    "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${CreateSSHKey}",
                    "Next": "Success"
                  },
                  "Success": {
                    "Type": "Pass",
                    "ResultPath": "$.Status",
                    "Result": "SUCCESS",
                    "End": true
                  }
                }
              }],
              "Catch": [{
                "ErrorEquals": [ "States.ALL" ],
                "ResultPath": "$.error",
                "Next": "Fail"
              }]
            },
            "Succeed": {
              "InputPath": "$.[0]",
              "Type": "Pass",
              "Next": "End"
            },
            "Fail": {
              "Type": "Pass",
              "ResultPath": "$.Status",
              "Result": "FAILED",
              "Next": "End"
            },
            "End": {
              "Type": "Task",
              "ResultPath": null,
              "Resource": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${SendCloudFormationResponse}",
              "End": true
            }
          }
        }